body {
	font-family: sans-serif;
  }
  #offer {
	font-family: 'Montserrat', sans-serif;
	clear: both;
	background-color: rgba(246,246,246,1.00);
	color: rgba(146,146,146,1.00);
	padding-left: 115px;
	padding-top: 57px;
	padding-bottom: 57px;
	position: fixed;            /* ヘッダーの固定 */
	top: 0px;                   /* 位置(上0px) */
	left: 0px;                  /* 位置(右0px) */
	width: 100%;                /* 横幅100%　*/
	height: 100px;
	margin-left: auto;
	margin-right: auto;
  }
  input[type="text"],
  button {
	font-size: 1em;
  }
  #objects {
	margin-top: 200px;
	padding: 0;
	overflow-x: auto;  /* 横スクロールの指定 */
	white-space: nowrap;  /* 横スクロールの指定 */
	-webkit-overflow-scrolling: touch; 
	list-style: none;
	padding: 0;
	display: inline-block;
	grid-gap: 10px;
	/* grid-template-columns: repeat(10, 1fr); */
	/* width: calc(5 * 210px); */
	/* min-width: 180px; */
	/* overflow: scroll; */
  }
  .object {
	/* box-sizing: border-box; */
	display: inline-block;
	background-color: #eee;
	text-align: center;
	margin: 20px;
	padding: 20px;
	width: 600px;
	height: 600px;
	min-height: 180px;
	border-radius: .5em;
	overflow: scroll;
	font-size: .8em;
  }
  .thumbnail {
	max-width: 500px;
	max-height: 500px;
  }