body {
	font-family:'Constantia', 'MS PMincho', sans-serif;
  }
  #offer {
	font-family: 'Constantia', 'MS PMincho', sans-serif;
	clear: both;
	background-color:#222327;
	color: #F5E5C9;
	padding-top: 5px;
	padding-bottom: 90px;
	position: fixed;            /* ヘッダーの固定 */
	top: 0px;                   /* 位置(上0px) */
	left: 0px;                  /* 位置(右0px) */
	width: 100%;                /* 横幅100%　*/
	height: 100px;
	text-align:center;
	border-bottom:2px solid #F5E5C9;
  }

  #offer img{
	  position:absolute;
	  width:20px;
	  height:auto;
	  left:1400px;
	  margin-top:10px;
  }

  h1{
	  font-size:38px;
	  letter-spacing:0.05em;
  }

  p{
	  margin-top:-25px;
	  font-size:20px;
  }

  .line {
	border-width: 2px 0 0 0;
	border-style: solid;
	border-color: #F5E5C9;
}

ul{
	overflow:hidden;
	list-style:none;
}

li{
	display: inline-block;
	font-size:14px;
	padding:0px 30px;
}
 
  input[type="text"],
  button {
	font-size: 1em;
  }
  #objects {
	margin-top: 200px;
	padding: 0;
	overflow-x: auto;  /* 横スクロールの指定 */
	white-space: nowrap;  /* 横スクロールの指定 */
	-webkit-overflow-scrolling: touch; 
	list-style: none;
	padding: 0;
	display: inline-block;
	grid-gap: 10px;
	/* grid-template-columns: repeat(10, 1fr); */
	/* width: calc(5 * 210px); */
	/* min-width: 180px; */
	/* overflow: scroll; */
  }
  .object {
	/* box-sizing: border-box; */
	display: inline-block;
	background-color: #eee;
	text-align: center;
	margin: 20px;
	padding: 20px;
	width: 600px;
	height: 600px;
	min-height: 180px;
	border-radius: .5em;
	overflow: scroll;
	font-size: .8em;
  }
  .thumbnail {
	max-width: 500px;
	max-height: 500px;
  }