body {
	font-family:'Constantia', 'MS PMincho', sans-serif;
	background-color: #F5E5C9;
  }
  #offer {
	font-family: 'Constantia', 'MS PMincho', sans-serif;
	clear: both;
	background-color:#222327;
	color: #F5E5C9;
	padding-top: 0px;
	padding-bottom: 90px;
	position: fixed;            /* ヘッダーの固定 */
	top: 0px;                   /* 位置(上0px) */
	left: 0px;                  /* 位置(右0px) */
	width: 100%;                /* 横幅100%　*/
	height: 105px;
	text-align: center;
	border-bottom:2px solid #F5E5C9;
  }
  h1 {
    text-align: center;
    font-size:30px;
    margin-top: 35px;
  }

  #Search {
    margin-top: -13px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
	color:#222327;
  }
 
  button {
	font-size: 1em;
	color: #F5E5C9;
  }

  #search {
    background-color:#222327;
  }

  .line {
	border-width: 2px 0 0 0;
	border-style: solid;
	border-color: #F5E5C9;
  }

  #menu {
    text-align:center;
  }

  li{
	display: inline-block;
	font-size:14px;
	padding:0px 30px;
  }
  #menu a {
	font-size:14px;
	color: #F5E5C9;
  }

  #objects {
	margin-top: 190px;
	padding: 0;
	overflow-x: auto;  /* 横スクロールの指定 */
	white-space: nowrap;  /* 横スクロールの指定 */
	-webkit-overflow-scrolling: touch; 
	list-style: none;
	padding: 0;
	display: inline-block;
	grid-gap: 10px;
	/* grid-template-columns: repeat(10, 1fr); */
	/* width: calc(5 * 210px); */
	/* min-width: 180px; */
	/* overflow: scroll; */
  }
  .object {
	/* box-sizing: border-box; */
	display: inline-block;
	background-color: rgb(255, 255, 255);
	text-align: center;
	margin: 20px;
	padding: 10px;
	width: 350px;
	height: 350px;
	min-height: 180px;
	border-radius: .5em;
	overflow: scroll;
	font-size: .8em;
  }

  #aaaa {
	  margin-top: 300px;
  }

  #footline {
	background-image: url(./kadai1_image/foot_rotate.png);
	background-size: contain;
	background-repeat: repeat-x;
	background-attachment: scroll;
	color: #222327;
	width: 100%;
	height: 75px;
	margin-top: 10px;
	position: fixed;
  }
  #footline p {
	color: #222327;
	text-align: center;
	font-size: 18px;
	margin-top: 90px;
  }

  .thumbnail {
	max-width: 300px;
	max-height: 300px;
  }

  /* loading */
#container{display:none;}
#loading{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom: 0;
	margin:auto;
	width:100%;
	height: 100%;
}